# Copy this file to `.env`

# Enter your Oso Cloud API key below
OSO_CLOUD_API_KEY=

# Optionally, modify these values if not using the provided Docker-orchestrated
# DB
DB_USER="postgres"
DB_PASS="postgres"
DB_NAME="appdb"
DB_HOST="db"
DB_PORT="5432"
DB_SSL="disable"
